/*-----Notification styling ------*/

.notif {
  /*background-color: #404040;*/
  padding: 20px;
  width: 50%;
  margin: auto;
}

.notif-box {
  -webkit-box-shadow: 3px 3px 4px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 4px 2px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 4px 2px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border: 1px solid #CCC;
  background-color: #f9f9f9;
  width: 75%;
  margin: auto;
  height: 90px;
  display: flex;
  border-radius: 20px;
}

.notif-box-unread {
  background-color: #2DC3E7;
  float: left;
  padding: 0 20px;
  color: #FFF;
  line-height: 90px;
  font-size: 14px;
  margin-right: 5%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.notif-box-read {
  background-color: #f9f9f9;
  float: left;
  padding: 0 20px;
  line-height: 90px;
  font-size: 14px;
  margin-right: 5%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.notif-box-dismiss {
  width: 25%;
}

.notif-box-dismiss input {
  float: left;
  text-decoration: underline;
  border: none;
  width: 100% !important;
  height: 20px !important;
  font-size: 15px;
  margin: 35px auto !important;
  background-color: #f9f9f9;
  color: #404040;
}

.notif-box-content h2 {
  font-size: 16px;
}

/*-----Messages styling ------*/

.options {
  border-bottom: 1px solid #CCC;
  padding: 10px;
  height: 19px;
  width: 68%;
  float: left;
}

.options a {
  margin: 10px 5px;
  font-size: 14px;
}

.options .search-box input[type="text"] {
    height: 30px;
    font-size: 11px;
    margin: 0 0 0 5px;
}

.options .search-box button {
  height: 30px;
  padding: 3px;
}

.main-search {
  float: left !important;
  position: relative;
  display: inline-block;
  font-size: 14px;
  width: auto;
  margin-top: 5px;
}

.main-search input[type="text"] {
    height: 30px;
    font-size: 11px;
    margin: 0;
    padding: 5px 10px;
    border: 1px solid #CCCCCC;
    border-right:none;
    border-left: none;
    float: left;
    width: 200px;
}

.search-select {
  height: 30px;
  border: 1px solid #CCC;
  border-right: none;
  float: left;
  color: #FFF;
  font-weight: bold;
  background-color: #2DC3E7;
}

.search-select select {
  border: none;
  padding: 5px 8px;
  width: 130%;
  background-image: none;
  -webkit-appearance: none;
}

.main-search button {
  height: 30px;
  padding: 3px;
  float: left;
  box-sizing: border-box;
  border: none;
  width: 40px;
  border: 1px solid #CCCCCC;
  border-left: none;
  cursor: pointer;
  background-color: #fff;
}
.messages {
  /*background-color: #404040;*/
  padding: 0 4.95%;
  width: 60%;
  height: 400px;
  overflow-y: scroll;
  float: left;
}

.chat {
  -webkit-box-shadow: 3px 3px 4px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 4px 2px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 4px 2px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border: 1px solid #CCC;
  background-color: #f9f9f9;
  color: #000;
  width: 70%;
  padding: 20px;
  margin: 20px auto;
  display: flex;
  border-radius: 20px;
  float: left;
}

.empty {
  width:70%;
  float:left;
  margin: 10px 15%;
  text-align: center;
}

.sent {
  float: right;
  background-color: #2DC3E7;
  color: #f9f9f9;
}

.options-left {
  float: left;
}

.options-left form {
  float: left;
  width: 100%;
}

.options-right {
  float: right;
}

.type-section {
  padding: 0 4.95%;
  width: 60%;
  display: inline-block;
  border-top: 1px solid #CCC;
  height: 100px;
  float: left;
}

.type-section textarea {
  margin-top: 20px;
  box-sizing: border-box;
  border: 1px solid #CCCCCC;
  border-right: none;
  height: 60px;
  float: left;
  resize: none;
}

.type-section button{
    float: left;
    margin-top: 20px;
    width: 10%;
    box-sizing: border-box;
    border: none;
    height: 60px;
    width: 40px;
    padding: 9px;
    border: 1px solid #CCCCCC;
    border-left: none;
    cursor: pointer;
    background-color: #fff;
}
.type-section button:hover{
    background-color: #2DC3E7;
    color: #fff;
}

.charaters-remaining {
  color: #ccb;
  float: right;
  display: inline-block;
  font-size: 12px;
  margin: 5px 10%;
}

.enter-button {
  width: 5%;
  background-color: #003;
  color: #fff;
  text-align: center;
  display: inline-block;
}

#message-text {
  width: 90%;
}
.convo-panel {
  width: 30%;
  border-right: 1px solid #CCC;
  float: left;
  height: 550px;
  overflow-y: scroll;
}

.convo-box {
  border-bottom: 1px solid #CCC;
  display: block;
}

.convo-selected {
  background-color: #2DC3E7;
}

.convo-selected .convo-box-head h2,
.convo-selected .convo-box-head span,
.convo-selected .convo-box-head p {
  color: #f9f9f9 !important;
}

.convo-box img {
  max-height: 75px;
  max-width: 75px;
  margin: 20px;
  display: inline-block;
  float: left;
}

.convo-box-head {
  display: inline-block;
  width: 100%;
}
.convo-box-head h2 {
  display: inline-block;
  margin-top: 5%;
  font-size: 1.5em;
  width: 50%;
}

.convo-box-head p {
  display: inline-block;
  font-size: 12px;
  float: left;
  width: 60%
}

.convo-box-head span {
  display: inline-block;
  margin: 7% 5% 0 0;
  font-size: 12px;
  float: right;
}

.form-containermemconfirm {
    margin-top: 15px;
}

/*listings page*/

.searchFilter {
  width: 20%;
  margin: 0 5%;
  height: 300px;
  position: fixed;
  background-color: #FFF;
  box-shadow: 5px 5px 5px #ccc;
}

.searchFilter form {
  border: none;
  width: 100%;
  margin: 0;
  margin-bottom: 0;
}

.searchFilter form input[type="radio"] {
  width: auto;
  margin: auto;
  height: auto;
  border: none;
}

.searchFilter input[type=radio]:checked + label{
   color: #404040;
   background: #FFF;
   font-weight: normal;
}

.searchFilter form input[type="submit"] {
  width: 30%;
  margin: 10px 33%;
  height: 40px;
  border: none;
}

.searchFilter legend {
  margin: 10% 10% 5% 10%;
}

.searchFilter span {
  float: left;
  clear: both;
  border-bottom: 1px solid #CCC;
  width: 80%;
  padding-bottom: 5px;
  margin: 5px 10%;
}

.searchResults {
  width: 80%;
  margin-left: 30%;
  padding-bottom: 20px;
  float: left;
}

.flSearch {
  width: 25%;
  height: 350px;
  background-color: #FFF;
  box-shadow: 5px 5px 5px #ccc;
  box-sizing: border-box;
  margin: 0 5% 30px 0;
  float: left;
}

.flSearch img {
  width: 100%;
  height: 150px;
  background-color: #CCC;
  box-sizing: border-box;
}

.listing-body {
  height: 150px;
  overflow: hidden;
}

.listing-body p {
  width: 90%;
  margin: 0 10px 5px 10px;
  overflow: hidden;
}

.heading {
  margin: 10px !important;
  width: 90% !important;
  border-bottom: 1px solid #2DC3E7;
  display: inline-block;
}

.heading a {
  font-size: 18px;
  float: left;
  margin: 0 5px 0 5px;
  line-height: 1.4;
  font-weight: bold;
  text-decoration: none;
}

.heading i {
  float: left;
  width: 10%;
  margin-bottom: 5px;
  color: #2DC3E7;
}

.flSearch p, .jSearch p {
  font-weight: normal;
  font-size: 14px;
  float: left;
}

.listing-desc {
  width: 90%;
  margin-top: 10px;
  overflow: hidden;
}
.jlisting-body {
  height: 100px;
  margin: 0 10px;
}

.listing-buttons a {
  width: auto;
  margin: 0 5% 20px 0;
  float: right;
}

.jSearch {
  width: 80%;
  height: 160px;
  background-color: #FFF;
  box-shadow: 5px 5px 5px #ccc;
  box-sizing: border-box;
  border-bottom: 2px solid #ccc;
}
