html, body {
    height: 100%;
    color: #404040;
    width: 100%;
    /*margin-top: 50px;*/
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    width: 100%;

    margin: 0;
    padding: 0;
    font-size: 100%;
    background-color: #f9f9f9;
    position: relative;
}

.wrapper {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}

header {
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 5px 1px 5px #ccc;
    margin-bottom: 5px;

    position: fixed;
    top: 0;
    z-index: 1;
    height: 78px;
}

footer {
  background-color: #404040;
float: left;
width: 100%;
color: #efefef;
}
main {
    overflow: hidden;
    background-color: #f9f9f9;
    flex: 1;
    margin-top: 78px;
}

.button {
    background-color: #2DC3E7;
    border: none;
    color: #fff;
    padding: 2.5% 3%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 1em;
    margin: 25px 0 0 0;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    color: #FFF;
    background-color: #28afcf;
}

.home-banner {
    position: relative;
    background-color: #EAEAEA;
    float: left;
    width: 100%;
}

#banner {
  height: 550px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.banner-text {
    width: 40%;
    position: absolute;
    top: 20%;
    left: 1em;
    padding: 1em;
}

.banner-text h2 {
    margin: 0;
}

.banner-text p {
    margin-bottom: 0;
}

h1 {
    font-size: 3.2em;
    text-align: center;
    margin: 15px 0;
}

h2 {
    font-size: 2.2em;
    text-align: left;
}

h3 {
   font-size: 1.2em;
   text-align: center;
   margin: 15px 0;
}

img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: underline;
    color: #404040;
}

a:hover {
    color: #2DC3E7;
}

ul {
    list-style-type: none;
    margin: 0;
}

.header-nav {
    float: left;
    width: calc(100% - 163px);
    padding-left: 30px;
    box-sizing: border-box;
}

.menu-wrap {
    width:100%;
}

.header-nav .arrow {
    font-size:12px;
    line-height:0;
    padding-right: 10px;
}

.clearfix{
    list-style: none;
    margin-bottom: 10px;
    float: left; /* Clear floats */
    position: relative;
    z-index: 5;
    padding: 0 10px;
}

.clearfix a {
    display: block;
    text-decoration: none;
}

.clearfix li {
    float: left;
    margin-right: 10px;
    position: relative;
}

.clearfix ul {
    list-style: none;
    position: absolute;
    padding: 0;
    padding-left: 0.5em;
    display: none; /*  Hide off-screen when not needed (this is more accessible than display: none;) */
}

.clearfix ul li {
    float: none;
    padding: 0.5em !important;
    background-color: #fff;
}

.clearfix ul li:hover {
    background-color: #f1f1f1;
}

.clearfix ul a {
    white-space: nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}

.clearfix li:hover ul { /* Display the dropdown on hover */
    left: 0; /* Bring back on-screen when needed */
    display: block;
}

.header-nav li {
    float: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.header-nav li:first-child {
    padding-left: 0;
    padding-right: 0.5em;
}

.header-nav li:last-child {
    padding-left: 0.5em;
    padding-right: 0;
}

.tagline {
    font-size: 110%;
    text-align: center;
    margin: 10px 0;
}

.community-events-section, .get-involved-section {
    padding-bottom: 1em;
    background-color: #fff;
    float: left;
}

.width10 {
    box-sizing: border-box;
    width: 10%;
}

.width20 {
    box-sizing: border-box;
    width: 20%;
}

.width30 {
    box-sizing: border-box;
    width: 30%;
}

.width40 {
    box-sizing: border-box;
    width: 40%;
}

.width50 {
    box-sizing: border-box;
    width: 50%;
}

.width60 {
    box-sizing: border-box;
    width: 60%;
}

.width70 {
    box-sizing: border-box;
    width: 70%;
}

.width80 {
    box-sizing: border-box;
    width: 80%;
}

.width90 {
    box-sizing: border-box;
    width: 90%;
}

.width100 {
    box-sizing: border-box;
    width: 100%;
}

.images-container {
    width: 100%;
    float: left;
}

.statistics-container {
    width: 100%;
    float: left;
    margin-top: 1.5%;
}

.header-nav a {
    font-size: 16px;
    text-decoration: none;
    color: #404040;
    margin-top: 10px;
}

.header-nav a:hover {
    color: #2DC3E7;
}

.user-nav {
  width: 40%;
  float: right;
}

.user-nav .button {
  margin: 0 !important;
  color: #FFF;
}
.user-nav .button:hover {
    color: #FFF;
}

.user-nav div {
    font-size: 16px;
}

.user-nav a {
    text-decoration: none;
    color: #404040;
    margin-right: 15px;
    float: right;
}

.user-nav a:hover {
    color: #2DC3E7;
}

.imageThirdContain {
    width: 33.33%;
    padding: 2.5%;
    padding-bottom: 2em;
    padding-top: 0;
    box-sizing: border-box;
    float: left;
    margin-top: 20px;
    position: relative;
}

.imageHalfContain {
    width: 50%;
    padding: 2.5%;
    padding-bottom: 2em;
    padding-top: 0;
    box-sizing: border-box;
    float: left;
    margin-top: 20px;
    position: relative;
}


.event-list-banner {
    font-size: 25px;
    position: absolute;
    top: 0;
    width: 100%;
    color: #eaeaea;
    background-color: rgb(45, 195, 231);
    background-color: rgb(45, 195, 231, 0.9);
    padding: 0.5em;
    box-sizing: border-box;
    margin: 0;
    left: 0;
}

.number-attending {
    float: left;
}

.spaces-left {
    float: right;
}

.image-text {
    font-size: 1.3em;
    position: absolute;
    bottom: calc(0px + 4px);
    width: 100%;
    color: #eaeaea;
    background-color: rgb(64, 64, 64);
    background-color: rgb(64, 64, 64, 0.6);
    padding: 0.5em;
    box-sizing: border-box;
    margin: 0;
    left: 0;
    text-align: left;
}

.image-text p {
    font-size: 0.7em;
    margin: 0;
    float: left;
}

.image-with-text {
    position: relative;
    width: 100%
}

.imageFourContain {
    width: 25%;
    padding: 3%;
    padding-top: 0;
    box-sizing: border-box;
    float: left;
    margin-top: 20px;
}

.how-it-works-section {
    background-color: #EAEAEA;
    float: left;
}

.logo-contain {
    float: left;
    width: 163px;
    padding-left: 10px;
    box-sizing: border-box;
    height: 40px;
}

form#test {
    width: 60%;
    margin: 0 5%;
}

form {
    width: 33%;
    margin: 0 auto;
}

.submit-wrap {
  text-align: center;
}


form input[type="submit"] {
    width: 130px;
    height: 46px;
    margin: 0.5em;
}

form input {
    width: 100%;
    height: 30px;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 1em;
    box-sizing: border-box;
    margin-top: 4px;
    padding-left: 5px;
    border: 1px solid #ccc;
}

select {
  border: 1px solid;
  height: 40px;
  margin: 0 auto;
  box-sizing: border-box;
    margin-left: 20px;

}

.blueTitle{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    min-height:100%;
    background-color: rgb(45, 195, 231);
    background-color: rgb(45, 195, 231, 0.9);
}
.blueTitle h1{
    color: #efefef;
}

.infoBox h2{
    text-align: center;
}

.forum-message{
    width: 100%!important;
    background-color: #fff;
    margin: 0 auto!important;
    box-shadow: none!important;
}

.thread img{
    width: 6%;
    float: left;
}
.thread-info{
    float: left;
    padding: 1em;
    width: 90%;
    box-sizing: border-box;
}

.thread h2, p{
    margin:0;
}
.forum-message h2,p{
    margin:0;
}
.thread h2{
    font-size: 2em;
}
.thread span{
    font-size: 0.8em;
}
.forum-message span{
    font-size: 0.8em;
}


#postThreadForm{
    margin: 0;
    width: 100%;
}
#postThreadForm .button{
    margin-left: 0;
}
.replyInfoBox{
    float: right;
    background-color: #2DC3E7;
    color: #fff;
    width: 10%;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    padding: 31px;
}
.EventTitle .tagline{
    color: #efefef;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 2em;
}
.infoBox{
    width: 50%;
    box-sizing: border-box;
    float: left;
    padding: 1em;
    background-color: #efefef;
    text-align: center;
    min-height: 60%;
}
#addEventButton{
    float: left;
    padding: 1% 2%;
    margin: 0;
}
.filterBar{
    width: 85%;
    margin: 0 auto 30px;
    background-color: #FFF;
    box-shadow: 5px 5px 5px #ccc;
    padding: 10px;
    box-sizing: border-box;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #404040;
    color: white;
}

fieldset{
    border: 1px solid #404040;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
}
legend{
    font-size: 1.4em;
    font-weight: bold;
}
.imageTextTitle{
    font-size: 1em !important;
    width:70%;
}
.image-text a{
    float: right;
    width: 30%;
    margin: 0;
    font-weight: normal;
    padding: 4px 0;
    margin-bottom: 5px;
}
#orderEventsForm{
    float: left;
}

.termsandcondbox {
  float: left;

}

.ErrorMessages {
    background-position: 8px 8px;
    background-repeat: no-repeat;
    border: 1px solid;
    margin: 6px 0;
    padding: 10px 10px 10px 50px;
    background-color: #ebcccc;
}

#eventPageBanner{
    max-height: 440px;
    overflow: hidden;
}
#googleMap{
    width:70%;
    height:270px;
    margin: 0 auto;
    border: 3px solid #b2b2b2;
}
#eventInfoText{
    font-size: 1.5em;
    font-style: italic;
    margin-bottom: 30px;
}
.addressBox{
    text-align: left;
    margin:0 auto;
    margin-top: 20px;
    width: 70%;
}
.dateAddressBox{
    text-align: left;
    margin:0 auto;
    margin-top: 20px;
    width: 70%;
    margin-bottom: 10px;
}

.EventTitle{
    position: absolute;
    width: 100%;
    background-color: rgb(45, 195, 231);
    background-color: rgb(45, 195, 231, 0.9);
    color: #efefef;
}
.eventInfo{
    float: left;
    background-color: #efefef;
    width: 100%;
}
#logoImg{
    width: 163px;
    height: 40px;
}

.registeredText{
    font-size: 1.8em;
    color: #7b9e3f;
    font-weight: bold;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 55%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 50px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #2DC3E7;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #fff;
}
.modal-footer .button{
    padding: 13px 30px;
    margin-bottom: 13px;
}
.modal-footer .close{
    font-size: 1em;
    color: #404040;
    float: left;
}

.modal:target {
    display: block;
    pointer-events: auto;
}

/*-----Client-----*/

/* Client Form Styling */

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

input:focus{
    border: 2px solid #2DC3E7;
}

.radio-group label {
   color: #404040;
  display: inline-block;
   cursor: pointer;
   padding: 5px 0px;
   box-sizing: border-box;
   width: 50%;
}

input[type=radio]:checked + label{
   color: #efefef;
   background: #675f6b;
   font-weight: bold;
}

label + input[type=radio] + label {
   border-left: solid 3px #332f35;
}

.radio-group {
   border: solid 2px #675f6b;
  display: inline-block;
   overflow: hidden;
   margin-left:15%;
   width: 100%;
   float: right;
   margin-top: 15px;
   margin-bottom: 15px;
}

#organdesc {
   max-width: 100%;
   width: 100%;
   height: 120px;
   box-sizing: border-box;
}

/* Membership Confirmation Page */

#memberconfirmp {
 text-align: center;
}

#memberconfirmtick {
 display: block;
margin: 0 auto;
 width: 30%;
 height: 30%;
}
/*----------*/
/* Client Profile Page */

.profilewrapper {
 width: 100%;
 position: relative;
}

.profilebg {
 width: 100%;
 height: 100%;
 opacity: 0.2;
 position: absolute;
 filter: grayscale(100%);
}

.profilebgcontent {
 position: relative;
 z-index: 0;
 padding: 30px 0;
}

#profilepicture {
 border: solid 2px black;
 height: 37%;
 width: 14%;
 display: block;
 margin: auto;
 z-index: 1;
}

.profilepagename {
 font-size: 2.2em;
 text-align: center;
 margin: auto 0;
 padding-top: 7px;
}

.profilepagelocation {
 text-align: center;
 margin-top: 0.5em;
}

.form-container-profile {
 text-align: center;
}

#activejobtitle {
   padding-top: 10px;
 }

#rcorners1 {
  margin-left: 120px;
  margin-bottom: 20px;
  margin-right: 0;
  border-radius: 5px;
  background: #404040;
  padding: 10px;
  width: 800px;
  height: 30px;
  text-align: left;
  color: white;
  float: left;
}

#rcorners2 {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 80px;
    border-radius: 5px;
    background: #404040;
    padding: 10px;
    width: 200px;
    height: 30px;
    text-align: center;
    color: white;
    float: right;
}

#howitworks ul{
    list-style-type: disc;
    text-align: left;
}

#howitworks li{
    margin-bottom: 10px;
}
#howitworks h2{
   text-align: center;
}
.event-contain{
    height: 250px;
    overflow: hidden;
    width: 85%;
    margin: 0 auto;
    box-shadow: 5px 5px 5px #ccc;
    background-color: #fff;
    margin-bottom: 100px;
}
.event-date-contain{
    float: left;
    height: 250px;
    width: 250px;
    background-color: #2DC3E7;
    text-align: center;
    color: #EAEAEA;
    font-size: 75px;
}
.event-img-contain{
    width: 250px;
    height: 250px;
    float: left;
}
.event-img-contain img{
    width:100%;
    height:100%;
}
.event-date-contain p:first-child{
    margin-top: 35px;
}
.event-info-contain{
    float: left;
    height: 100%;
    width: calc(100% - 600px);
    box-sizing: border-box;
    padding: 20px;
    position: relative;
}
.event-info-contain h2{
    margin: 0 0 10px 0;
}
.event-info-contain .button{
    padding: 20px;
    margin: 0 10px 0 auto;
    position: absolute;
    bottom:10px;
}
.event-info-contain p{
    font-size: 25px;
}
.media-contain{
    width:100px;
    box-sizing: border-box;
    float: left;
    height: 100%;
    padding: 7px;
}

.media-box{
    float: left;
    width:65px;
    height: 65px;
    padding:8px;
    margin: 0 0 0 8px;
}
.media-box img{
    width: 100%;
}
.clear{
    clear: both;
}
/*pagination*/
.pag-form{
    float: left;
    margin-left: 7.5%;
}
.pag-button{
    width: 30px !important;
    height: 30px !important;
    border: none;
    background-color: #f9f9f9;
    margin: 0 0 10px 0 !important;
    padding: 0 !important;
}
.pag-button:hover{
    cursor: pointer;
}
.pag-button-current{
    background-color: #2DC3E7;
    color: #ffffff;
}


/* Sign up Form 1 Button */
#option-one, #option-two {
  text-align: center;
}

/* Job Form Styling
.formwrapper {
 width: 100%;
 height: 20%;
 position: relative;
 background-color: #2DC3E7;
}*/

/* Job Confirmation Page Styling */

#jobConfirmContent {
  text-align: center;
}

#anonymous{
    height:auto;
    width:auto;

}
.profileImgContain{
    padding:10px;
    width: 75px;
    height: 75px;
    float: left;
}
.profileImgContain img{
    width:100%;
}
.reportContain{
    width: 10%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    font-size: 0.8em;
}
.message-info{
    float: left;
    padding: 1em;
    width: calc(90% - 95px);
    box-sizing: border-box;
}
.forum-message:nth-child(even) {
    background-color: #EAEAEA;
}
.thread{
    width: 85%;
    background-color: #fff;
    margin: 0 auto 30px auto;
    box-shadow: 5px 5px 5px #ccc;
}
.reply-result-set{
    box-shadow: 5px 5px 5px #ccc;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 35px;
}
.thread-info-contain{
    float: left;
    width: 100%;
    font-size: 1.5em;
    font-style: italic;
    margin-bottom: 10px;
}
.search-box {
    position: relative;
    display: inline-block;
    font-size: 14px;
    float: right;
    width: 240px;
}

.search-box input[type="text"] {
    height: 40px;
    padding: 5px 10px;
    border: 1px solid #CCCCCC;
    border-right:none;
    font-size: 14px;
    float: left;
    width: 200px;
    margin-bottom: 0;
}

.search-box button {
    float: left;
    width: 10%;
    box-sizing: border-box;
    border: none;
    height: 40px;
    width: 40px;
    padding: 9px;
    border: 1px solid #CCCCCC;
    border-left: none;
    cursor: pointer;
    background-color: #fff;
}
.search-box button:hover, .main-search button:hover {
    background-color: #2DC3E7;
    color: #fff;
}

.result{
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 0;
    background-color: #fff;
}

.search-box input[type="text"], .result{
    width: 200px;
    box-sizing: border-box;
}
/* Formatting result items */
.result p{
    margin: 0;
    padding: 7px 10px;
    border: 1px solid #CCCCCC;
    border-top: none;
    cursor: pointer;
}
.result p:hover{
    background: #f2f2f2;
}
.payToHideBanner{
    width: 85%;
    margin: 0 auto;
    margin-bottom: 30px;
}
legend h2{
    font-size: 28px;
    margin: 0;
}
.search-box input{
    margin:0;
}
